<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<ul>
    <li>
        <a routerLink ="home"> Home</a>
      </li>
  <li>
    <a routerLink ="contact"> Contact Us</a>
  </li>
</ul>
<router-outlet></router-outlet>
